[package]
name = "const_cge"
version = "0.1.0"
edition = "2021"
authors = ["Will Brickner <wgbrickner@gmail.com>"]
description = "Common Genetic Encoding to floating point instructions at compile time."
repository = "https://github.com/wbrickner/const_cge"
documentation = "https://docs.rs/const_cge"
readme = "README.md"
license = "MIT"
keywords = ["cge", "neural", "machine learning", "embedded", "no_std"]
categories = [
  "embedded",
  "no-std",
  "science",
  "science::robotics",
  "computer-vision"
]

[dependencies]
const_cge_macro = { path = "./const_cge_macro/" }
const_cge_activations = { path = "./const_cge_activations/" }

[dev-dependencies]
cge = { git = "https://github.com/pengowen123/cge" } # used in tests: { assert!(static == dynamic) for evaluation results }
proptest = "1.0.0"

[badges]
maintenence = { status = "passively-maintained" }
