[package]
name = "const_cge"
version = "0.1.0"
edition = "2021"
authors = ["Will Brickner <wgbrickner@gmail.com>"]
description = "Common Genetic Encoding to floating point instructions at compile time."
repository = "https://github.com/wbrickner/const_cge"
documentation = "https://docs.rs/const_cge"
readme = "README.md"
license = "MIT"
keywords = ["cge", "neural", "machine learning", "embedded", "no_std"]
categories = [
  "embedded",
  "no-std",
  "science",
  "science::robotics",
  "computer-vision"
]

[lib]
proc-macro = true

[dependencies]
cge = { git = "https://github.com/pengowen123/cge" }
proc-macro2 = "1.0.38"                           
quote = "1.0.18"                                 
syn = { version = "1.0.93", features = ["full"] }

[badges]
maintenence = { status = "passively-maintained" }